<a href="https://colab.research.google.com/github/yunmokoo/SPY-Forecast_MARS_LSTM/blob/main/SPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install requests > make_outputrerquest.txt 2>&1
!pip install yfinance > make_outputyfinance.txt 2>&1
!pip install transformers > make_outputtransformers.txt 2>&1
!pip install xformers > make_outputxformers.txt 2>&1

In [ ]:
!wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz > wget_output.txt 2>&1
!tar -xzvf ta-lib-0.4.0-src.tar.gz > tar_output.txt 2>&1
%cd ta-lib
!./configure --prefix=/usr > config_output.txt 2>&1
!make > make_outputtalib.txt 2>&1
!make install > makeInstall_output.txt 2>&1
!pip install TA-Lib > pipInstall_output.txt 2>&1

/content/ta-lib

In [ ]:
import requests
import json
import yfinance as yf
#import talib

import tensorflow as tf
import numpy as np
import pandas as pd
import torch
import matplotlib as plt

from transformers import *
from transformers import GenerationMixin
from transformers import TFGenerationMixin
from transformers import FlaxGenerationMixin

from sklearn.preprocessing import MinMaxScaler

From TA-lib...

1. MA                  All Moving Average
2. BBANDS              Bollinger Bands
3. MACD                Moving Average Convergence/Divergence
4. SMA                 Simple Moving Average
5. EMA                 Exponential Moving Average

In [ ]:

data_SPY = yf.download("SPY", start = "2001-01-01", end = "2023-01-01")


print(data_SPY)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2001-01-02  132.000000  132.156250  127.562500  128.812500   84.662994
2001-01-03  128.312500  136.000000  127.656250  135.000000   88.729759
2001-01-04  134.937500  135.468750  133.000000  133.546875   87.774658
2001-01-05  133.468750  133.625000  129.187500  129.187500   84.909447
2001-01-08  129.875000  130.187500  127.687500  130.187500   85.566689
...                ...         ...         ...         ...         ...
2022-12-23  379.649994  383.059998  378.029999  382.910004  380.042480
2022-12-27  382.790009  383.149994  379.649994  381.399994  378.543793
2022-12-28  381.329987  383.390015  376.420013  376.660004  373.839264
2022-12-29  379.630005  384.350006  379.079987  383.440002  380.568512
2022-12-30  380.640015  382.579987  378.429993  382.429993  379.566040

              Volume
Date
2001-01-02   8737500
2001-01-03  19431600
2001-01-04   9219000
2001-01-05  12911400
2001-01-08   6625300
...              ...
2022-12-23  59857300
2022-12-27  51638200
2022-12-28  70911500
2022-12-29  66970900
2022-12-30  84022200

[5535 rows x 6 columns]

In [ ]:
df = pd.DataFrame(data_SPY)
df

# Transformer

In [ ]:
scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df_normalized

          Open      High       Low     Close  Adj Close    Volume
0     0.155737  0.151608  0.147845  0.148199   0.079748  0.006263
1     0.146771  0.160983  0.148074  0.163306   0.089547  0.018587
2     0.162880  0.159688  0.161140  0.159758   0.087246  0.006818
3     0.159308  0.155190  0.151818  0.149115   0.080342  0.011073
4     0.150570  0.146806  0.148150  0.151556   0.081926  0.003829
...        ...       ...       ...       ...        ...       ...
5530  0.757896  0.763598  0.760294  0.768555   0.791514  0.065175
5531  0.765531  0.763818  0.764256  0.764868   0.787902  0.055703
5532  0.761981  0.764403  0.756358  0.753296   0.776566  0.077915
5533  0.757848  0.766745  0.762862  0.769849   0.792781  0.073373
5534  0.760303  0.762427  0.761272  0.767383   0.790366  0.093024

[5535 rows x 6 columns]